
/* BASICS */

body {
  background-color:yellow;
  align-content: center;
  justify-content: center;
}


h1 {
  font-family: 'Righteous', cursive;
  font-size:50px;
  margin-top:100px;
  text-align: center;
  padding-bottom:30px;

}

h2 {
  font-family: 'Righteous', cursive;
  font-size:20px;
  text-align: center;

}

a {
  text-decoration:none;
  color:black;
}

.logo {
  position:absolute;
  left:20px;
  top:20px;
  width:60px;
  height:60px;
  cursor:pointer;
}

.wordmark {
  position:absolute;
  left:90px;
  top:30px;
  font-family: 'Righteous', cursive;
  font-size:30px;
}


/* INDEX */



.listen {
  position:relative;
  top:200px;
  left:100%;
  font-family: 'Righteous', cursive;
  font-size:30px;
  cursor:pointer;
}

.about {
  position:relative;
  top:380px;
  width:100%;
  font-family: 'Righteous', cursive;
  font-size:30px;
  cursor:pointer;
  text-align: center;
}

.parts {
  position:relative;
  top:170px;
  left:-25%;
  font-family: 'Righteous', cursive;
  font-size:30px;
  cursor:pointer;
}

.listen:hover, .about:hover,.parts:hover {
  color:red;
  cursor:pointer;
}

.listen:active, .about:active,.parts:active {
  color:#cc0000;
  cursor:pointer;
}

.knob_container {
  transform-origin: 50% ;
  width:300px;
  margin:auto;
  padding:10px;
}

.nav {
  width:400px;
  height:400px;
  margin:auto;
}

.history {
  margin-left:20px;
  margin-right:20px;
  margin-top:50px;
  height:100px;
  border: 5px solid red;

}


/* LISTEN */





.fourgrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  margin:auto;
}

.cover1, .cover2, .cover3, .cover4 {
  display:block;
  width:250px;
  height:250px;
  background-color:black;
  cursor: pointer;
  z-index: 33;
}

.recorddisk {
  position:absolute;
  height:250px;
  width:250px;
  z-index: -11;
  display: block;
  transition: all .25s ease-out;
  background-color:black;
  border-radius: 50%;
}

div.album:hover .recorddisk {
  transform:  translateX(60px);
}

.record-player {
  height: 350px;
  width: 450px;
  background: black;
  position: relative;
  margin: 25px auto;
  z-index: 0;
  border-radius: 10px;
}

.record-player .arm-assembly {
  position: relative;
  z-index: 200;
  height: 75%;
  top: 40px;
  left: 150px;
}

.record-player .arm-assembly .center {
  width: 60px;
  height: 60px;
  background: #969BA0;
  position: absolute;
  left: -85px;
  top: -5px;
  z-index: 199;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px rgba(33, 33, 33, 0.3), inset 0 0 0 0 #969BA0, inset 0 0 0 2px rgba(180, 180, 180, 0.7), inset 0 0 0 3px rgba(33, 33, 33, 0.3), inset 0 0 0 8px #969BA0, inset 0 0 0 10px rgba(180, 180, 180, 0.7), inset 0 0 0 11px rgba(33, 33, 33, 0.3), inset 0 0 0 18px #969BA0, inset 0 0 0 20px rgba(180, 180, 180, 0.7), inset 0 0 0 21px rgba(33, 33, 33, 0.3);
}

.record-player .arm {
  position: absolute;
  z-index: 200;
  height: 100%;
  left: 22px;
  transform: rotate(-45deg);
}

.record-player .arm div {
  background: #969BA0;
  width: 6px;
  position: absolute;
}

.record-player .arm .long {
  height: 60%;
  transform: rotate(10deg);
  border-radius: 35% 35% 0 10%;
  box-shadow: 0 0 5px 2px rgba(33, 33, 33, 0.35);
}

.record-player .arm .short {
  height: 35%;
  top: 58%;
  left: 2px;
  transform: rotate(-20deg);
  border-radius: 0 10% 40% 40%;
}

.record-player .deck {
  position: absolute;
  top: 20px;
  left: 145px;
  height: 275px;
  width: 275px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(111, 204, 221), 1px 1px 5px 2px rgba(0, 0, 0, 0.9), -1px -1px 5px 2px rgba(0, 0, 0, 0.9);
}

.record-player .deck .needle {
  height: 1.6%;
  width: 1.6%;
  border-radius: 50%;
  position: absolute;
  top: 49.2%;
  left: 49.2%;
  background: #e1e1e1;
  z-index: 105; 
}

.record {
  background: #222;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 100;
  box-shadow: inset 0 0 50px 15px rgba(33, 33, 33, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  animation: spin-art 3000ms linear infinite;
  animation-play-state: paused;
}

.recordplay {
  background: #222;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 100;
  box-shadow: inset 0 0 50px 15px rgba(33, 33, 33, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  animation: spin-art 3000ms linear infinite;
}

.record.off, .record.off .grooves div {
  animation: none;
  transform: translate(-50%, -50%) rotate(80deg);
}

.record .label {
  background: #aaa;
  height: 24%;
  width: 24%;
  position: absolute;
  z-index: 200;
  top: 38%;
  left: 38%;
  border-radius: 50%;
  box-shadow: inset 0 0 20px 3px rgba(33, 33, 33, 0.5), 0 0 7px 1px rgba(255, 255, 255, 0.1);
}

.record .label .hole {
  background: #000;
  height: 10%;
  width: 10%;
  position: absolute;
  top: 45%;
  left: 45%;
  border-radius: 50%;
}

.record .grooves {
  position: absolute;
  z-index: 150;
  left: 50%;
  top: 50%;
  height: 0.5%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
  width: 0.5%;
}

.record .grooves div {
  animation: spin 10000ms linear infinite;
  border: 0px solid transparent;
  border-top: 3px solid black;
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  height: 140%;
  width: 140%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  animation-play-state: paused;
}

.recordplay .grooves div {
  animation: spin 10000ms linear infinite;
  border: 0px solid transparent;
  border-top: 3px solid black;
  border-radius: 50%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
  height: 140%;
  width: 140%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
}

@keyframes spin {
  0% {transform: translate(-50%, -50%) rotate(80deg);}
  100% {transform: translate(-50%, -50%) rotate(192deg);}
}

@keyframes spin-art {
  0% {transform: translate(-50%, -50%) rotate(0deg);}
  100% {transform: translate(-50%, -50%) rotate(360deg);}
}

.controls{
  width:150px;
  height:70px;
  position:relative;
}

.on {
  position:relative;
  background-color:red;
  border:2px solid black;
  border-radius:50%;
  width:50px;
  height:50px;
  text-align: center;
  top:5px;
  left:20px;
  cursor: pointer;
}

.on:focus {
  outline:none;
}

.on:active {
  background-color:purple;
}

.light {
  position: relative;
  background-color:grey;
  border-radius:50%;
  width:10px;
  height:10px;
  border:3px solid black;
  left:90px;
  bottom:25px;
}

.clicked {
  background-color:red;
}

.play {
  position:relative;
  background-color:red;
  border:2px solid black;
  border-radius:50%;
  width:50px;
  height:50px;
  text-align: center;
  top:5px;
  left:20px;
  cursor: pointer;
}

.pause {
  position:relative;
  background-color:red;
  border:2px solid black;
  border-radius:50%;
  width:50px;
  height:50px;
  text-align: center;
  top:5px;
  left:20px;
  cursor: pointer;
}

.play, .pause:focus {
  outline:none;
}

.wrapper {
  margin:auto;
  width:480px;
  height:500px;
  position:relative;
}

.abouttext, .abouttext2, .abouttext3, .abouttext4, .abouttext5, .abouttext6 {
  white-space: nowrap;
  overflow: hidden; 
  font-size: 30px;
  color: red;
  text-align: center;
  margin:auto;
  padding-top:30px;
  font-family:helvetica;
  padding-top:5px;
  padding-bottom:5px;
}


/* ABOUT */


.abouttext {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
  animated-cursor 1000ms steps(20,end);
}

.abouttext2 {
  animation: animated-text 4s steps(29,end) 3.5s 1 normal both,
  animated-cursor 1000ms steps(29,end) infinite;
}

.abouttext3 {
  animation: animated-text 4s steps(29,end) 6s 1 normal both,
  animated-cursor 1000ms steps(29,end) infinite;
}

.abouttext4 {
  animation: animated-text 4s steps(29,end) 9s 1 normal both,
  animated-cursor 1000ms steps(29,end) infinite;
}

.abouttext5 {
  animation: animated-text 4s steps(29,end) 12s 1 normal both,
  animated-cursor 1000ms steps(29,end) infinite;
}

.abouttext6 {
  animation: animated-text 4s steps(29,end) 14s 1 normal both,
  animated-cursor 1000ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 500px;}
}

@keyframes animated-cursor{
  from{border-right-color: transparent;}
  to{border-right-color: transparent;}
}


/* About Page */

.listenbtn {
  position:absolute;
  right:-10px;
  width:60px;
  height:60px;
  color:black;
  justify-content:center;
  transform:rotate(180deg);
  margin:auto;

}

.partsbtn {
  position:absolute;
  left:-10px;
  width:60px;
  height:60px;
  color:black;
  justify-content:center;
  margin:auto;
  
}

.listenword {
  position:absolute;
  top:23px;
  font-size:18px;
  font-family:helvetica;
  color:black;
  font-weight: bold;
}

.partsword {
  position:absolute;
  top:23px;
  left:35px;
  font-size:18px;
  font-family:helvetica;
  color:black;
  font-weight: bold;
}

.btnwrapper {
  margin-top:50px;
  width:100px;
  height:60px;
  position:absolute;
  right:20px;
  transition: .2s ease-in-out;
  cursor:pointer;
  animation: 10s ease 10s normal forwards 1 fadeIn;
  animation-delay: 12s;
  opacity:0;
}

.btnwrapperparts {
  margin-top:50px;
  width:100px;
  height:60px;
  position:absolute;
  left:20px;
  transition: .2s ease-in-out;
  cursor:pointer;
  animation: 10s ease 10s normal forwards 1 fadeIn;
  animation-delay: 12s;
  opacity:0;
}

.btnwrapper:hover, .btnwrapperparts:hover{
  transform: scale(1.2);
  transition:0s; }

@keyframes fadeIn{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}



@media only screen and (max-width:768px) {


  }

  @media only screen and (max-width:1224px) {

  }