

body {
    background-color:yellow;
    align-content: center;
    justify-content: center;
}


h1{
    font-family: 'Righteous', cursive;
    font-size:50px;
    margin-top:100px;
    text-align: center;

}

a {
    text-decoration:none;
    color:black;
}

.listen {
    position:relative;
    top:200px;
    left:100%;
    font-family: 'Righteous', cursive;
    font-size:30px;
    cursor:pointer;

}

.listen:hover, .about:hover,.parts:hover {
    color:red;
    cursor:pointer;

}

.listen:active, .about:active,.parts:active {
    color:#cc0000;
    cursor:pointer;

}

.about {
    position:relative;
    top:380px;
    width:100%;
    font-family: 'Righteous', cursive;
    font-size:30px;
    cursor:pointer;
    text-align: center;

}

.wrapper {
    position:absolute;
    text-align:center;
    margin:300px;
    font-family:helvetica;
    font-size:20px;
    width:90%;
    white-space: nowrap;
    overflow:hidden;
    animation: animate_one 3s steps(400);
}

@keyframes animate_one {
    0%{
        width:0;
    }
}

.parts {
    position:relative;
    top:170px;
    left:-25%;
    font-family: 'Righteous', cursive;
    font-size:30px;
    cursor:pointer;

}

.logo {
    position:absolute;
    left:20px;
    top:20px;
    width:60px;
    height:60px;
    cursor:pointer;
}

.wordmark {
    position:absolute;
    left:90px;
    top:30px;
    font-family: 'Righteous', cursive;
    font-size:30px;
}

.knob_container {
    transform-origin: 50% ;
    width:300px;
    margin:auto;
    padding:10px;
}


.nav {
    width:400px;
    height:400px;
    margin:auto;

}

.enter {
    fill:green;
    cursor:pointer;
}







































@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}